.Articulo {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Establece un tamaño máximo para los artículos */
    flex: 1 1 calc(25% - 32px); /* 4 artículos por fila */
    background-color: #ffffff; /* Fondo blanco para cada artículo */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño del elemento */
  }
  
  .ArticuloImagen {
    max-width: 100%; /* La imagen no excederá el ancho del contenedor */
    max-height: 200px; /* Establece una altura máxima para la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 8px;
    display: block; /* Asegura que la imagen sea un bloque */
    margin: 0 auto 10px auto; /* Centra la imagen horizontalmente */
  }
  
  .edit-button {
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .edit-button:hover {
    background-color: #218838;
  }
  